.ms-icon {
  font-family: "Material Symbols Outlined";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  display: inline-flex;
  vertical-align: middle;
  font-variation-settings: "FILL" var(--ms-fill, 1), "wght" var(--ms-wght, 400),
    "GRAD" var(--ms-grad, 0), "opsz" var(--ms-opsz, 24);
}
